<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">

    <title>IsportU | Modalidades esportivas</title>

    <link rel="shortcut icon" href="/images/icons/skate.png" type="image/png">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-landing.css">


    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body id="page-landing">

    <div id="container">
        <div class="logo-container">
            <!-- <img src="https://fontmeme.com/permalink/200901/484380805b143be4d46a91b2181819e6.png" alt="Proffy"> -->
            <!-- <h2>Plataforma para treinos de todas as modalidades olímpicas</h2> -->
        </div>

        <!-- <img class="hero-image" src="/images/landing3.jpeg" alt="Plataforma de Estudos"> -->

        <section>
            <div class="box">
                <h2>IsportU</h2>
            <p>Sua plataforma para praticar diversas modalidades esportivas.</p>
            </div>
        </section>

        <div class="buttons-container">
            <a class="study" href="/study">
                <img src="/images/icons/study.svg" alt="Estudar">
                Praticar
            </a>
            <a class="give-classes" href="/give-classes">
                <img src="/images/icons/give-classes.svg" alt="Dar aulas">
                 Dar aulas
            </a>
        </div>

        <p class="total-connections">
            Mais de 250 novos esportistas
            <img src="/images/icons/purple-heart.svg" alt="Coração roxo">
        </p>
    </div>

</body>
</html>