<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IsportU | Modalidades esportivas</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-success.css">

</head>
    <body id="page-success">

        <div id="container">

            <!-- <img src="/images/icons/success1.png" alt=""><br> -->
            <!-- <h1><strong><b>Cadastro salvo!</b></strong></h1><br> -->

        </div>
        <div id="text">
            <h1><p>Cadastro Salvo!</p></h1>
        </div>


        <!-- <img id="img" src="/images/success-background.svg" alt=""> -->



        <div id="button">

            <button type="submit" form="create-class">Acessar lista</button>

        </div>

    </body>
</html>